/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-hero.css = Styles for accessible hero rotator
 *
 * Uses Bootstrap tab interface instead of custom code
 * https://getbootstrap.com/docs/4.0/components/navs/#tabs
 *
 */

/* Hero area */

#myTabContent {
  border: 1px solid #333;
  margin-bottom: 1rem;
}
.nav-tabs .nav-item {
  font-size: 12px;
}
.nav-tabs .nav-link {
  border: 1px solid #767676;
  border-bottom: none;
  background: #f9f9f9;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #006100;
  border-color:#767676;
  background: #EBEBEB;
}
.nav-tabs .nav-link:focus {
  position: relative;
  z-index: 50;
}

.nav-tabs .nav-link.active {
  border-color: #111;
  color: #8EED8E;
  background: #333;
}
.tab-content {
  background-color: #333;
  min-height: 50px;
  color: #fff;
}
.tab-content a {
  color: #8EED8E;
  text-decoration: none;
  border-bottom: 1px dotted #8EED8E;
}

.tab-content a:hover,
.tab-content a:focus {
  color: #B2F5B2;
  text-decoration: none;
  border-bottom: 1px solid #B2F5B2;
}

.tab-content .tab-pane img {
  width: 100%
}
@media only screen and (min-width: 1000px) {
  .tab-content .tab-pane .overlay-text {
    background: #333;
    position: relative;
    height: 110px;
    margin-top: -110px;
  }
}