/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-main.css = Styles for accessible version
 */


/*
 * Standard HTML Elements
 *
 */
 body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: green;
  text-decoration: none;
  border-bottom:1px dotted green;
}
a:hover, a:focus {
  color: darkgreen;
  text-decoration: none;
  border-bottom: 1px solid darkgreen;
}
/*
 * Clear visible focus
 * for keyboard users
 *
 */
:focus,
.form-control:focus {
  outline: auto !important;
  outline-offset: unset !important;
}

h1 {
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #808080;
}
h3 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

p {
  line-height: 1.5;
}

/*
 * Custom styles
 */
#logo {
  width:100%;
  max-width:400px;
  margin: 0 auto;
}
.box {
  padding: 1rem ;
  border:1px solid #f1f1f1;
  border-top: 5px solid green;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background: #f9f9f9;
}
.btn {
  font-size: 1em;
  font-weight: bold;
}
.btn-success,
.btn-primary {
    background-color: green;
    border-color: green;
}
.btn-success:hover,
.btn-success:focus,
.btn-primary:hover,
.btn-primary:focus {
    background-color: darkgreen;
    border-color: darkgreen;
}

table {
  text-align: center;
}



/*
 * Footer styles
 *
 */

 .main-footer {
  background: #333 !important;
  color: #d6d6ce;
}
.main-footer a {
  color: #d6d6ce!important;
  border-color: #d6d6ce;
}
.main-footer a:hover,
.main-footer a:focus {
  color: #fff!important;
  border-color: #fff;
}
.social li {
  display: inline-block;
}
hr {
  border-bottom: 1px solid #999;
}
