/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * before-menu.css = Styles for inaccessible dropdown menu
 */


/*
 * Utility menu
 */

.utility-menu li {
	float:left;
	margin-left: 5px;
}
.utility-menu li:last-child:before {
	content: " | "
}

 /*
  * Main menu
  */

.navbar-nav a:focus {
	outline: 1px dotted white;
}
.dropdown-menu {
  margin-top:-1px;
}
.dropdown-menu.focus {
  display:block;
  opacity:0;
  z-index:-1;
}
.nav-item.dropdown:hover ul {
	display:block;
}
.nav-item.dropdown:hover ul.dropdown-menu.focus {
    opacity:1;
    z-index:1;
}

.navbar-toggler:hover + .navbar-collapse {
	display:block;
}
